<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrainTree Hosted Fields Example</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://js.braintreegateway.com/web/3.34.0/js/client.js"></script>
    <script src="https://js.braintreegateway.com/web/3.34.0/js/hosted-fields.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    {{!-- <link rel="stylesheet" href="/stylesheets/app.css">  --}}
    {{!-- <link rel="stylesheet" href="/stylesheets/overrides.css">  --}}
</head>
<body>
  {{{ body }}}
</body>
</html>
